<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="stylesheets/style.css">
  <style>
#main{
  position: absolute;
  top: 30vh;
  left: 40vw;
}
  </style>
</head>
<body>
  <div id="main">

    <h1>SSB Practice</h1>
    <a href="WAT">WAT</a> 
    <br>
    <a href="TAT">TAT</a>
  </div>
</body>
</html>