<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="stylesheets/style.css">
  <style>
#main{
  position: absolute;
  top: 30vh;
  left: 40vw;
  
      
        h2 {
            position: absolute;
            top: 2%;
            left: 45%;
            transform: translate(-50%, -50%);
            text-align: center;
            font-size: 2em;
        }
     
    
}
  </style>
</head>
<body>
  <h2>SSB Practice</h2>
  <div id="main">

    <a href="TAT">PP&DT/TAT</a>
    <br>
    <a href="narration">Narration</a>
    <br>
    <a href="WAT">WAT</a> 
    <br>
    <a href="Lecturette">Lecturette</a>
    <br>
    <a href="GD">GD</a>
    <br>
  
  </div>
</body>
</html>